* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 1024px;
}

/* CSS NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  padding: 10px 0;
}
.logo-wrapper {
  width: 33%;
}
.logo {
  width: 20%;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  width: 33%;
  justify-content: space-evenly;
}
.btn-clair {
  padding: 10px;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  background-color: #fff;
  color: #09b1ba;
}
.btn-foncé {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #09b1ba;
  color: #fff;
}
.search-container {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.input-search {
  width: 100%;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-family: "Maison Neue";
  font-size: 16px;
}
.input-range-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.input-range {
  transform: scale(1);
  cursor: inherit;
  height: 36px;
  display: flex;
  width: 50%;
  color: #09b1ba;
}
/* CSS BANDEAU */
.bandeau-img {
  background-image: url(./img/bandeau.jpg);
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
}

.dechirure {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}
.block-over {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
  text-align: left;
}
.toto {
  width: 1280px;
  margin: auto;
}
.left {
  text-align: left;
}
.product-card-list {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
}

.product-page {
  background-color: #ebedee;
}

/* CSS PRODUCTCARD */

.card-product {
  background-color: #fff;
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
}

.card-user-block {
  display: flex;
  align-items: center;
  padding: 10px;
}
.card-profile-user {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.card-user-name {
  color: #999;
  font-size: 12px;
}
.card-product-img {
  height: 360px;
  width: 235px;
  object-fit: cover;
}
.card-bottom {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.card-product-price {
  font-size: 14px;
}
.card-product-size,
.card-product-marque {
  font-size: 12px;
  color: #999;
}

/* CSS PRODUCTCONTENT */
.content-product-wrapper {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  grid-gap: 30px;
  gap: 30px;
}
.product-picture {
  height: 600px;
  object-fit: cover;
}
.product-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  max-width: 30vw;
  padding: 40px;
}
.product-price {
  font-size: 24px;
  line-height: 32px;
  color: #111;
}
.product-title {
  font-weight: 700;
}
.product-description {
  color: #666;
}
.product-owner {
  display: flex;
  align-items: center;
}
.product-owner-profile {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.product-list {
  list-style-type: none;
  padding: 0;
}

.product-list li {
  display: flex;
  padding: 4px 0;
}

.product-list span {
  width: 50%;
  font-size: 14px;
}

.first-element-list {
  color: #999;
}

.second-element-list {
  color: #666;
  font-weight: 700;
  padding-left: 4px;
}

/* CSS SIGNUP FORM */
input {
  border: none;
  border-bottom: 1px solid #999;
  padding: 5px;
  margin-bottom: 20px;
  width: 30%;
}
.checkbox-form {
  transform: scale(2);
  margin-right: 20px;
}
.signup-form {
  width: 40%;
  margin: auto;
  text-align: center;
}

.form-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.little-text {
  width: 30%;
  margin: auto;
  text-align: left;
  color: #999;
  font-size: 12px;
}
.btn-foncé-signup-form {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #09b1ba;
  color: #fff;
  width: 30%;
}

/* CSS LOGIN FORM */
.text-little-link {
  color: #2cb1ba;
  font-size: 12px;
}
